# *LetsGrowMore DataScience Internship (VIP)*
# *Name: Yash Ajit Paddalwar*
# *Level 02: Intermediate*
# *Task 02: Prediction Using Decision Tree Algorithm*

-----------------------------------------------------------------------------------------------------------------------------

# *Importing the Necessary Libraries*

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns

# *Loading And Reading the Dataset*

In [2]:
dataset = pd.read_csv("D:\Internships\LetsGrowMore Data Science Internship\Task Codes\Intermediate Task 2\Iris.csv")

In [3]:
dataset

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

# *Performing Some Data Analysis*

In [4]:
dataset.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

dataset.Species = lb.fit_transform(dataset.Species)
dataset

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [7]:
dataset.drop(columns = ['Id'],inplace = True)

In [8]:
dataset

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

# *Seperating The Dataset into Features and Labels*

In [9]:
x = dataset.iloc[:,0:4]
y = dataset.iloc[:,-1]

# *Splitting the Dataset*

In [10]:
# Splitting Data

from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=0)

# *Fitting the Model Using Decision Tree Algorithm*

In [15]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(random_state=5)

tree.fit(xtrain,ytrain)

DecisionTreeClassifier(random_state=5)

# *Performing Prediction*

In [16]:
ypred = tree.predict(xtest)

# *Checking the Accuracy of our Model*

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("The Accuracy of our Model is: {}".format(accuracy_score(ytest,ypred)))

The Accuracy of our Model is: 0.9777777777777777

#### *The Accuracy is Pretty Good :)*

# *Let's Check where it got mistaken*

In [18]:
confusion_matrix(ytest,ypred)

array([[16,  0,  0],
       [ 0, 17,  1],
       [ 0,  0, 11]], dtype=int64)

# *Hence our model predicted all the Labels correctly except one*

# *Thankyou!!!! :)*